body {
    font: Arial 12px;
    text-align: left;
}

div.grid {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

text {
    font-family: sans-serif;
}

text.format {
    font-style: italic;
    font-size: 11px;
}

text.tool {
    font-weight: bold;
    font-size: 12px;
}

.node {
    stroke-linecap: round;
}

.link {
    fill: none;
}

select:required:disabled {
    color: #CCCCCC;
}

select:valid {
    color: #000000;
}