:root {
  --error-color: #ff5252;
  --warning-color: #ffc107;
  --success-color: #4caf50;
  --delta-blue: #00a0e9;
  --delta-blue-hover: #0086cd;
  --delta-red: #f44336;
  --delta-red-hover: #d31f1f;
  --delta-green: #008000;
  --delta-green-hover: #006600;
  --delta-lightGreen: #46d404;
  --delta-lightGreen-hover: #48be03;
  --delta-gray: #adadad;
  --delta-gray-hover: #929292;
  --delta-yellow: #c7c551;
  --delta-yellow-hover: #a09e3f;
  --green-icon-bottom: #4caf50;
  --green-icon-bottom-hover: #238c30;
  --red-icon-bottom: #ff5252;
  --red-icon-bottom-hover: #d82b36;
  --success-tag: #8ec587;
  --warning-tag: #f9d35f;
  --warning-tag-text: #e6a23c;
  --error-tag: #f56c6c;
  --error-tag-text: #f56c6c;
  --info-tag: #f56c6c;
  --default-tag: #dcdcdc;
}
